* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: sakurata;
    src: url(fonts/Sakurata-DOGnE.otf);
}

header {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.logo {
    height: 100px;
    width: 100px;
    margin: 10px;
}

h1 {
    color: #3F3F3F;
    font-family: sakurata;
    font-size: 80px;
    margin-bottom: 15px;
}

nav {
    background-color: #3F3F3F;
    display: flex;
    align-content: center;
    margin-bottom: 20px;
}

nav ul{
    display: flex;
    align-content: center;
    list-style: none;
    margin: 0px auto;
}

nav li {
    display: inline;
    width: 200px;
}

li a {
    display: block;
    padding: 10px;
    font-size: 1.35em;
    font-weight: 900;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background: linear-gradient(90deg, rgb(63,63,63) 0%, rgb(95,95,95) 20%, rgb(95,95,95) 80%, rgb(63,63,63) 100%);
}

section {
    width: 800px;
    margin: 40px auto;
}

h2 {
    text-align: center;
    color: #3F3F3F;
    font-size: 44px;
    font-family: sakurata;
}

p {
    margin: 10px;
    margin-bottom: 0px;
    text-indent: 4em;
    text-align: justify;
    font-size: 1.2em;
}

section ul {
    width: 600px;
    text-align: justify;
    font-size: 1.2em;
    list-style-type: none;
    margin: 0px auto;
    padding-top: 20px;
}

section ul li::before {
    margin: 0px auto;
    display: block;
    content: url(images/list-img.png);
    width: 50px;
}

.products {
    align-items: top;
    align-content: center;
    display: flex;
    flex-direction: row;
}

.product {
    margin: 0 auto;
    display: block;
    width: 220px;
    border: 5px solid #3F3F3F;
    border-radius: 5px 5px 15px 5px;
    text-align: center;
}
figure {
    height: 130px;
}

.product-photo {

    object-fit:scale-down;
    height: 100px;
    width: 200px;
}

figure figcaption {
    text-align: center;
    font-weight: 900;
    font-size: 1.2em;
}

.product p {
    font-size: 1.1em;
    text-indent: 0;
}

.product a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 10px;
}

.product:hover {
    background-color: #F4F4F4;
}